
@{
    ViewBag.Title = "Главная";
    Layout = "~/Views/Shared/Layouts/_Layout.cshtml";
}

<!-- main-search start -->
<div class="main-search-active">
    <div class="sidebar-search-icon">
        <button class="search-close"><i class="fa fa-times"></i></button>
    </div>
    <div class="sidebar-search-input">
        <form action="#">
            <div class="form-search">
                <input id="search" class="input-text" value="" placeholder="" type="search">
                <button>
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </form>
        <p class="form-description">Введите, что хотите найти</p>
    </div>
</div>
<!-- main-search start -->
<!--slider section start-->
<div class="hero-section section position-relative">
    <div class="hero-slider section">

        <!--Hero Item start-->
        <div class="hero-item  bg-image" data-bg="/Content/images/hero/hero-1.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12">

                        <!--Hero Content start-->
                        <div class="hero-content-2 center">

                            <h2>Лучшая косметика </h2>
                            <a href="shop.html" class="btn">Купить</a>

                        </div>
                        <!--Hero Content end-->

                    </div>
                </div>
            </div>
        </div>
        <!--Hero Item end-->
        <!--Hero Item start-->
        <div class="hero-item bg-image" data-bg="/Content/images/hero/hero-2.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12">

                        <!--Hero Content start-->
                        <div class="hero-content-2 center">

                            <h2>Большой ассортимент </h2>
                            <a href="shop.html" class="btn">Купить</a>

                        </div>
                        <!--Hero Content end-->

                    </div>
                </div>
            </div>
        </div>
        <!--Hero Item end-->

    </div>
</div>
<!--slider section end-->
<!-- Banner section start -->
<div class="banner-section section pt-30">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <!-- Single Banner Start -->
                <div class="single-banner-item mb-30">
                    <div class="banner-image">
                        <a href="shop.html">
                            <img src="/Content/images/banner/banner1.jpg" alt="">
                        </a>
                    </div>
                    <div class="banner-content">
                        <h3 class="title">Маски для лица</h3>
                        <a href="shop.html">Купить</a>
                    </div>
                </div>
                <!-- Single Banner End -->
                <div class="single-banner-item mb-30">
                    <div class="banner-image">
                        <a href="shop.html">
                            <img src="/Content/images/banner/banner2.jpg" alt="">
                        </a>
                    </div>
                    <div class="banner-content">
                        <h3 class="title">Уход за кожей</h3>
                        <a href="shop.html">Купить</a>
                    </div>
                </div>

            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <!-- Single Banner Start -->
                <div class="single-banner-item mb-30">
                    <div class="banner-image">
                        <a href="shop-left-sidebar.html">
                            <img src="/Content/images/banner/banner11.jpg" alt="">
                        </a>
                    </div>
                    <div class="banner-content tr-right">
                        <h3 class="title">Уход за телом</h3>
                        <a href="shop.html">Купить</a>
                    </div>
                </div>
                <div class="single-banner-item mb-30">
                    <div class="banner-image">
                        <a href="shop-left-sidebar.html">
                            <img src="/Content/images/banner/banner22.jpg" alt="">
                        </a>
                    </div>
                    <div class="banner-content tr-right">
                        <h3 class="title">Уход за волосами</h3>
                        <a href="shop.html">Купить</a>
                    </div>
                </div>
                <!-- Single Banner End -->
            </div>
        </div>
    </div>
</div>
<!-- Banner section End -->
