<div class="page-banner-section section bg-image" data-bg="/Content/images/bg/breadcrumb.png">
    <div class="container">
        <div class="row">
            <div class="col">

                <div class="page-banner text-left">
                    <h2>@ViewBag.Title</h2>
                    <ul class="page-breadcrumb">
                        <li><a href="@Url.Action("Index", "Home")">Главная</a></li>
                        <li>@ViewBag.Title</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
