<footer class="footer-section section bg-gray">

    <!--Footer Top start-->
    <div class="footer-top section pt-100 pt-lg-80 pt-md-70 pt-sm-60 pt-xs-50 pb-55 pb-lg-35 pb-md-25 pb-sm-15 pb-xs-10">
        <div class="container">
            <div class="row">

                <!--Footer Widget start-->
                <div class="footer-widget col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mb-40 mb-xs-35">
                    <h4 class="title"><span class="text">Коротоко о нас</span></h4>
                    <p class="mb-15">Первый магазин</p>
                    <p class="mb-15">корейской косметики</p>
                    <p class="mb-15">в Гагаузии!</p>
                    <h4 class="opeaning-title">Прямые поставки из Кореи!</h4>
                </div>
                <!--Footer Widget end-->
                <!--Footer Widget start-->
                <div class="footer-widget text-lg-right text-left col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mb-40 mb-xs-35">
                    <h2></h2>
                    <p class="contact-text"></p>
                    <p class="contact-text"></p>
                </div>
                <!--Footer Widget end-->
            </div>
        </div>
    </div>
    <!--Footer Top end-->
</footer>
